

 <div class="container">

  <div class="starter-template">
    <h1>Current temperature in <%= @location %> is <%= @temp_f %>&deg;F!</h1>
    <p class="lead">Weather is a thing.</p>
  </div>

</div><!-- /.container -->
